/* General styles - put these straight into your stylesheet */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* Selectors to be matched up with rulesets */

/* Rulesets to be matched up with selectors */

.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

.card header {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
  height: 3em;
  padding: 1em;
}

.card footer{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
  height: 3em;
  padding: 1em;
}
.card footer p{
  font-size: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;

}

.card article img{
  max-height: 100% ;
  float: right;
}
h2,p {
  margin: 0 ;

}
h2 {
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}
article {
 height: 12em;
 background-color: black;
 opacity: 0.7;
}
article p {
color: white;

}
