html {
  font-family: sans-serif;
}

/* Your CSS below here */
p{
 font-size: 1.1rem;
 width: 20rem;
 text-align: center;
 border: 0.1rem solid;
 height: 10rem;
 line-height: 10rem;
 color:  #0099ff;
 text-shadow: 2px 2px 2px black;
 border-radius: 20px;
 border: 1px solid #0033cc;
 background: linear-gradient(336deg, rgba(0,0,0,0.0), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2)),
            #0099ff;
 box-shadow: 1px 1px 1px black,
            inset -2px -2px 1px rgba(0,0,0,0.5),
            inset 2px 2px 1px rgba(255,255,255,0.5) ;
}
