* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */
body{

  background: url("../img/top-image.png") no-repeat top,
              url("../img/bottom-image.png") no-repeat bottom,
              linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0) 20%,rgba(0,0,0,0)),
              linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0) 20%,rgba(0,0,0,0));
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}
h1{
  background: url("../img/logo.png") no-repeat;
}
.filter{
   filter: drop-shadow(5px 5px 1px rgba(0,0,0,0.7))
}
