/* General setup */
@font-face {
    font-family: 'titre';
    src: url('font/lemonmilk-webfont.woff2') format('woff2'),
         url('font/lemonmilk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'corp';
    src: url('font/optimusprinceps-webfont.woff2') format('woff2'),
         url('font/optimusprinceps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;

}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */
header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
html {
  font-family: 'corp',serif;
  font-size: 10px;

}
h2 {
  font-family: 'titre',sans-serif;
  font-size: 2em;
  letter-spacing: 0.1em;
}
section{
    line-height: 1.5em;
	word-spacing: 0.1em;

}

section p{
	text-indent: 2em;

}

a[href*="http"] {
  background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat 100% 0;
  background-size: 1em 1em;
  padding-right: 1.5em;
}

a:visited,a:hover,a:focus,a:link{
	color: #a66;
	text-decoration: none;
}

li{
	line-height: 1.5em;
	list-style-type: circle;
}

nav{
	font-size: 3em;

}
nav a{
	text-decoration: none;
  outline: none;
  display: inline-block;
  width: 6em;
  line-height: 1.5em;
  border: solid 2px #a66;
  text-align: center;
}
nav li{

    list-style-type: none;
    margin: 0.5em;
}
